[Desktop Entry]
Categories=Application;Game
Comment=Deepin Game
Comment[am]=የጨዋታ ማእከል 
Comment[ar]=مركز العاب دييبن
Comment[cs]=Herní středisko
Comment[da]=Deepin Spillecenter
Comment[de]=Deepin Spielecenter
Comment[de_DE]=Deepin Spielecenter
Comment[el_GR]=Κέντρο παιχνιδιών Deepin
Comment[en]=Deepin Game
Comment[es]=Centro de Juegos Deepin
Comment[es_419]=Centro de juegos Deepin
Comment[es_AR]=Centro de Juegos Deepin 
Comment[es_CL]=Centro de Juegos Deepin
Comment[es_ES]=Centro de Juegos de Deepin
Comment[es_PE]=Centro de Juegos Deepin
Comment[fi]=Deepin Pelikeskus
Comment[fr]=Centre de Jeux Deepin
Comment[he]=מרכז המשחקים של Deepin
Comment[hu]=Deepin játékközpont
Comment[hy]=Deepin խաղային կենտրոն
Comment[id_ID]=Pusat Permainan Deepin
Comment[it]=Deepin Game Center
Comment[ja]=ソフトウェアセンター
Comment[ms]=Pusat Permainan Deepin
Comment[nl]=Deepin Gamecentrum
Comment[pl_PL]=Centrum gier Deepin
Comment[pt_BR]=Deepin Game Center
Comment[pt_PT]=Centro de Jogos Deepin
Comment[ro]=Centrul de Jocuri Deepin
Comment[ru]=Игровой центр Deepin
Comment[sk]=Herné stredisko
Comment[sl]=Igračarsko središče Deepin
Comment[tr]=Deepin Oyun Merkezi
Comment[zh_CN]=深度游戏
Comment[zh_HK]=深度遊戲中心
Comment[zh_TW]=深度遊戲中心
Encoding=UTF-8
Exec=deepin-game-center
Icon=deepin-game-center
Name=Deepin Game
Name[am]=የጨዋታ ማእከል 
Name[ar]=مركز العاب دييبن
Name[cs]=Herní středisko
Name[da]=Deepin Spillecenter
Name[de]=Deepin Spielecenter
Name[de_DE]=Deepin Spielecenter
Name[el_GR]=Κέντρο παιχνιδιών Deepin
Name[en]=Deepin Game
Name[es]=Centro de Juegos Deepin
Name[es_419]=Centro de juegos Deepin
Name[es_AR]=Centro de Juegos Deepin 
Name[es_CL]=Centro de Juegos Deepin
Name[es_ES]=Centro de Juegos de Deepin
Name[es_PE]=Centro de Juegos Deepin
Name[fi]=Deepin Pelikeskus
Name[fr]=Centre de Jeux Deepin
Name[he]=מרכז המשחקים של Deepin
Name[hu]=Deepin játékközpont
Name[hy]=Deepin խաղային կենտրոն
Name[id_ID]=Pusat Permainan Deepin
Name[it]=Deepin Game Center
Name[ja]=ソフトウェアセンター
Name[ms]=Pusat Permainan Deepin
Name[nl]=Deepin Gamecentrum
Name[pl_PL]=Centrum gier Deepin
Name[pt_BR]=Deepin Game Center
Name[pt_PT]=Centro de Jogos Deepin
Name[ro]=Centrul de Jocuri Deepin
Name[ru]=Игровой центр Deepin
Name[sk]=Herné stredisko
Name[sl]=Igračarsko središče Deepin
Name[tr]=Deepin Oyun Merkezi
Name[zh_CN]=深度游戏
Name[zh_HK]=深度遊戲中心
Name[zh_TW]=深度遊戲中心
StartupNotify=true
Terminal=false
Type=Application
X-Ayatana-Desktop-Shortcuts=OpenMainApplication
X-MultipleArgs=false

[OpenMainApplication Shortcut Group]
Exec=/usr/bin/deepin-game-center
Name=Open Main Application
Name[am]=ዋንውን መተግበሪያ መክፈቻ
Name[ar]=افتح التطبيق الرئيسي
Name[cs]=Otevřít hlavní program
Name[da]=Åbn Hoved-Program
Name[de]=Hauptprogramm öffnen
Name[de_DE]=Hauptprogramm öffnen
Name[el_GR]=Ανοίξτε την κύρια εφαρμογή
Name[en]=Open Main Application
Name[es]=Aplicación Principal Abierta
Name[es_419]=Abrir aplicación principal
Name[es_AR]=Abrir Aplicación Principal
Name[es_CL]=Abrir la aplicación Principal
Name[es_ES]=Abrir Aplicación Principal
Name[es_PE]=Abrir Aplicación principal
Name[fi]=Avaa pääohjelma
Name[fr]=Ouvrir l'application principale
Name[he]=פתח תוכנה עיקרית
Name[hu]=Alapértelmezett alkalmazások megnyitása
Name[hy]=Բացել հիմնական ծրագիրը
Name[id_ID]=Buka Aplikasi Utama
Name[it]=Apri applicazioni principali
Name[ja]=主要なアプリ
Name[ms]=Buka Aplikasi Utama
Name[nl]=Hoofdprogramma Openen
Name[pl_PL]=Otwórz główny program
Name[pt_BR]=Abrir Aplicativo Principal
Name[pt_PT]=Abrir Aplicação Principal
Name[ro]=Deschide aplicația principală
Name[ru]=Открыть основное приложение
Name[sk]=Otvoriť hlavný program
Name[sl]=Odpri glavni program
Name[tr]=Ana Uygulamayı Aç
Name[zh_CN]=打开主程序
Name[zh_TW]=打開主程式
TargetEnvironment=Unity

