[Desktop Entry]
Categories=Application;Game
Comment=Deepin Game Center
Comment[ar]=مركز العاب دييبن
Comment[cs]=Herní středisko
Comment[da]=Deepin Spillecenter
Comment[en]=Deepin Game Center
Comment[es]=Centro de Juegos Deepin
Comment[fr]=Centre de Jeux Deepin
Comment[pt_BR]=Deepin Game Center
Comment[ru]=Deepin Игровой Центр
Comment[sk]=Herné stredisko
Comment[sl]=Igračarsko središče Deepin
Comment[zh_CN]=深度游戏中心
Comment[zh_HK]=深度遊戲中心
Comment[zh_TW]=深度遊戲中心
Encoding=UTF-8
Exec=deepin-game-center
Icon=deepin-game-center
Name=Deepin Game Center
Name[ar]=مركز العاب دييبن
Name[cs]=Herní středisko
Name[da]=Deepin Spillecenter
Name[en]=Deepin Game Center
Name[es]=Centro de Juegos Deepin
Name[fr]=Centre de Jeux Deepin
Name[pt_BR]=Deepin Game Center
Name[ru]=Deepin Игровой Центр
Name[sk]=Herné stredisko
Name[sl]=Igračarsko središče Deepin
Name[zh_CN]=深度游戏中心
Name[zh_HK]=深度遊戲中心
Name[zh_TW]=深度遊戲中心
StartupNotify=true
Terminal=false
Type=Application
X-Ayatana-Desktop-Shortcuts=OpenMainApplication
X-MultipleArgs=false

[OpenMainApplication Shortcut Group]
Exec=/usr/bin/deepin-game-center
Name=Open Main Application
Name[ar]=افتح التطبيق الرئيسي
Name[cs]=Otevřít hlavní program
Name[da]=Åbn Hoved-Program
Name[en]=Open Main Application
Name[es]=Aplicación Principal Abierta
Name[fr]=Ouvrir l'application principale
Name[pt_BR]=Abrir Aplicativo Principal
Name[ru]=Открыть основное приложение
Name[sk]=Otvoriť hlavný program
Name[sl]=Odpri glavni program
Name[zh_CN]=打开主程序
Name[zh_TW]=打開主程式
TargetEnvironment=Unity
