.nav_bar .tabs a:hover,
.nav_bar .tabs a:focus,
.nav_bar .tabs a.current {
  border-color: transparent;
  background-color: #3a8ed8;
  color: #c5e5fa;
}

.nav_bar .tabs a {
  color: #0c4fb7;
}

.nav_bar .search_msg {
  color: #0c4fb7;
}

.search_box .search {
  background-color: #a4d2f2;
}

.game_info .action a {
  color: #1068c2;
}

.game_info .game_rate {
  color: #e95e61;
}

.game_action .play input {
  border-left-color: #4782a6;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #34759e), color-stop(0.5, #3987b7), color-stop(0.51, #559ec8), color-stop(1, #62c1f8));
  box-shadow: inset 0px 1px 0px #9ad7fc, 0px 5px 0px 0px #2b6589, 0px 7px 5px #999999;
}

.game_action .star input {
  border-left-color: #18577d;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #19567b), color-stop(1, #31aaf4));
  box-shadow: inset 0px 1px 0px #7ccafa, 0px 5px 0px 0px #14496a, 0px 7px 5px #999999;
}

.game_action .play input:active, .game_action .star input:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #19567b), color-stop(1, #31aaf4));
  box-shadow: inset 0px 1px 0px rgba(124, 202, 250, 0.7), 0px 2px 0px 0px rgba(20, 73, 106, 0.6), 0px 5px 3px #999999;
}

.game_action .play input:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #34759e), color-stop(0.5, #3987b7), color-stop(0.51, #559ec8), color-stop(1, #62c1f8));
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left center, right center, color-stop(0, #b9ddef), color-stop(0.75, #b9ddef), color-stop(0.751, #95c9e4), color-stop(1, #95c9e4));
}

::-webkit-progress-bar {
  background: #dee0d1;
}

::-webkit-progress-value {
  background: #1f7eb1;
}

progress {
  border: 1px solid #b3b3b3;
}

.loading_msg {
  color: #0e6da0;
}

.popup_box .bg_box {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #90aed4), color-stop(1, #14458b));
}
