.nav_bar .tabs a:hover,
.nav_bar .tabs a:focus{
	border-color:transparent;
	background-color:#8870c6;
	color:#ece4f9;
}

.nav_bar .tabs a {
	color:#8a71c5;
}

.search_box .search{
	background-color:#cbbdde;
}

.game_info .action a{
	color:#1068c2;
}

.game_info .game_rate{
	color:#e95e61;
}

.game_action .play input{
	border-left-color:rgb(121,78,177);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(91,53,145)), color-stop(0.5, rgb(112,67,175)), color-stop(0.51, rgb(138,95,194)), color-stop(1, rgb(181,127,251)));
	box-shadow: inset 0px 1px 0px rgb(207,173,254), 0px 5px 0px 0px rgb(78,44,125), 0px 7px 5px #999;
}
.game_action .star input{
	border-left-color:rgb(72,29,130);
	background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(63,24,117)), color-stop(1, rgb(144,68,246)));
	box-shadow: inset 0px 1px 0px rgb(185,136,252), 0px 5px 0px 0px rgb(54,19,101), 0px 7px 5px #999;
}


.game_action .play input:active, .game_action .star input:active{
	background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(63,24,117)), color-stop(1, rgb(144,68,246)));
	box-shadow: inset 0px 1px 0px rgba(185,136,252,0.7), 0px 2px 0px 0px rgba(54,19,101,0.6), 0px 5px 3px #999;
}

.game_action .play input:active{
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(91,53,145)), color-stop(0.5, rgb(112,67,175)), color-stop(0.51, rgb(138,95,194)), color-stop(1, rgb(181,127,251)));
}