.nav_bar .tabs a:hover,
.nav_bar .tabs a:focus,
.nav_bar .tabs a.current {
  border-color: transparent;
  background-color: #cacc00;
  color: #eae2ee;
}

.nav_bar .tabs a {
  color: #709a02;
}

.nav_bar .search_msg {
  color: #709a02;
}

.search_box .search {
  background-color: #dadb89;
}

.game_info .action a {
  color: #1068c2;
}

.game_info .game_rate {
  color: #e95e61;
}

.game_action .play input {
  border-left-color: #83b152;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #819a34), color-stop(0.5, #8da545), color-stop(0.51, #a2b761), color-stop(1, #bbcd84));
  box-shadow: inset 0px 1px 0px #d2deb0, 0px 5px 0px 0px #6f852b, 0px 7px 5px #999999;
}

.game_action .star input {
  border-left-color: #578d1f;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #589419), color-stop(1, #9ec467));
  box-shadow: inset 0px 1px 0px #c2daa0, 0px 5px 0px 0px #4c8114, 0px 7px 5px #999999;
}

.game_action .play input:active, .game_action .star input:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #589419), color-stop(1, #9ec467));
  box-shadow: inset 0px 1px 0px rgba(194, 218, 160, 0.7), 0px 2px 0px 0px rgba(76, 129, 20, 0.6), 0px 5px 3px #999999;
}

.game_action .play input:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #819a34), color-stop(0.5, #8da545), color-stop(0.51, #a2b761), color-stop(1, #bbcd84));
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left center, right center, color-stop(0, #dede93), color-stop(0.75, #dede93), color-stop(0.751, #caca67), color-stop(1, #caca67));
}

::-webkit-progress-bar {
  background: #dee0d1;
}

::-webkit-progress-value {
  background: #c1d56a;
}

progress {
  border: 1px solid #b3b3b3;
}

.loading_msg {
  color: #bacb58;
}

.popup_box .bg_box {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1e3a0), color-stop(1, #80a023));
}
