.nav_bar .tabs a:hover,
.nav_bar .tabs a:focus,
.nav_bar .tabs a.current {
  border-color: transparent;
  background-color: #c77ca8;
  color: #e5d2d9;
}

.nav_bar .tabs a {
  color: #9c006b;
}

.nav_bar .search_msg {
  color: #9c006b;
}

.search_box .search {
  background-color: #e0b1d2;
}

.game_info .action a {
  color: #1068c2;
}

.game_info .game_rate {
  color: #e95e61;
}

.game_action .play input {
  border-left-color: #b45099;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca5dac), color-stop(0.5, #d371b8), color-stop(0.51, #dd8ac7), color-stop(1, #edb4de));
  box-shadow: inset 0px 1px 0px #f4cee9, 0px 5px 0px 0px #b04f95, 0px 7px 5px #999999;
}

.game_action .star input {
  border-left-color: #932274;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #992078), color-stop(1, #f674d3));
  box-shadow: inset 0px 1px 0px #fca6e4, 0px 5px 0px 0px #841a67, 0px 7px 5px #999999;
}

.game_action .play input:active, .game_action .star input:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #992078), color-stop(1, #f674d3));
  box-shadow: inset 0px 1px 0px rgba(252, 166, 228, 0.7), 0px 2px 0px 0px rgba(132, 26, 103, 0.6), 0px 5px 3px #999999;
}

.game_action .play input:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca5dac), color-stop(0.5, #d371b8), color-stop(0.51, #dd8ac7), color-stop(1, #edb4de));
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left center, right center, color-stop(0, #e4b1d5), color-stop(0.75, #e4b1d5), color-stop(0.751, #d38bbc), color-stop(1, #d38bbc));
}

::-webkit-progress-bar {
  background: #dee0d1;
}

::-webkit-progress-value {
  background: #c477a8;
}

progress {
  border: 1px solid #b3b3b3;
}

.loading_msg {
  color: #b767a1;
}

.popup_box .bg_box {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1a1b5), color-stop(1, #893564));
}
