.nav_bar .tabs a:hover,
.nav_bar .tabs a:focus{
	border-color:transparent;
	background-color:#8870c6;
	color:#ece4f9;
}

.nav_bar .tabs a {
	color:#8a71c5;
}

.search_box .search{
	background-color:#cbbdde;
}

.game_info .action a{
	color:#1068c2;
}

.game_info .game_rate{
	color:#e95e61;
}

.game_action .play input{
	border-top-color:#7b64be;
	border-bottom-color:#6559af;
	background-color:#8971c5;
	color:#fefefe;
}

.game_action .star input{
	border-left-color:#af85a9;
	border-top-color:#af85a9;
	border-bottom-color:#af85a9;
	border-right-color:#ae86a9;
	background-color:#d6b3ed;
}