.nav_bar .tabs a:hover,
.nav_bar .tabs a:focus,
.nav_bar .tabs a.current {
  border-color: transparent;
  background-color: #974db3;
  color: #e7dcf5;
}

.nav_bar .tabs a {
  color: #8c39ab;
}

.nav_bar .search_msg {
  color: #8c39ab;
}

.search_box .search {
  background-color: #dab6e7;
  background-image:url(../img/s9.png);
}

.search_box .search:active {
  background-image:url(../img/s9_a.png);
}

.game_info .action a {
  color: #1068c2;
}

.game_info .game_rate {
  color: #e95e61;
}

.game_action .play input {
  border-left-color: #7e4b99;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #673485), color-stop(0.5, #7d4698), color-stop(0.51, #9662ad), color-stop(1, #c38bd3));
}

.game_action .play input:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #673485), color-stop(0.5, #7d4698), color-stop(0.51, #9662ad), color-stop(1, #c38bd3));
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left center, right center, color-stop(0, #D8D8D8), color-stop(0.5, #D8D8D8), color-stop(0.51, #caa0d9), color-stop(1, #caa0d9));
}

::-webkit-scrollbar-thumb:hover {
  background: #caa0d9;
}

::-webkit-progress-bar {
  background: #dee0d1;
}

::-webkit-progress-value {
  background: #ae73c9;
}

progress {
  border: 1px solid #b3b3b3;
}

.loading_msg {
  color: #9b62bd;
}

.popup_box .bg_box {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d0a3d9), color-stop(1, #752b8b));
}

/******************************************************************************/
#diyrightmenu {background:-webkit-gradient(linear, left top, right top, color-stop(0, #EAB3FF), color-stop(0.15, #FBF2FF), color-stop(1, #FBF2FF));}
#diyrightmenu ul li a:hover{background-color:#974DB3;}