
.game_action .play input{
	border-left-color:rgb(198,106,108);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(214,92,92)), color-stop(0.5, rgb(217,101,102)), color-stop(0.51, rgb(224,126,129)), color-stop(1, rgb(227,146,151)));
	box-shadow: inset 0px 1px 0px rgb(237,184,187), 0px 5px 0px 0px rgb(186,79,79), 0px 7px 5px #999;
}
.game_action .star input{
	border-left-color:rgb(151,42,43);
	background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(152,32,32)), color-stop(1, rgb(215,106,113)));
	box-shadow: inset 0px 1px 0px rgb(230,161,166), 0px 5px 0px 0px rgb(131,26,26), 0px 7px 5px #999;
}


.game_action .play input:active, .game_action .star input:active{
	top:3px;
	background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(152,32,32)), color-stop(1, rgb(215,106,113)));
	box-shadow: inset 0px 1px 0px rgba(230,161,166,0.7), 0px 2px 0px 0px rgba(131,26,26,0.6), 0px 5px 3px #999;
}

.game_action .play input:active{
	top:1px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(214,92,92)), color-stop(0.5, rgb(217,101,102)), color-stop(0.51, rgb(224,126,129)), color-stop(1, rgb(227,146,151)));
}