.nav_bar .tabs a:hover,
.nav_bar .tabs a:focus,
.nav_bar .tabs a.current {
  border-color: transparent;
  background-color: #f2c64d;
  color: #fff6cb;
}

.nav_bar .tabs a {
  color: #d88b0d;
}

.nav_bar .search_msg {
  color: #d88b0d;
}

.search_box .search {
  background-color: #f0dda3;
}

.game_info .action a {
  color: #1068c2;
}

.game_info .game_rate {
  color: #e95e61;
}

.game_action .play input {
  border-left-color: #c6884b;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #9f6e35), color-stop(0.5, #b7853a), color-stop(0.51, #c79d55), color-stop(1, #f5cd61));
  box-shadow: inset 0px 1px 0px #f9df99, 0px 5px 0px 0px #8a5e2c, 0px 7px 5px #999999;
}

.game_action .star input {
  border-left-color: #a65c1c;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ab5618), color-stop(1, #e5b749));
  box-shadow: inset 0px 1px 0px #efd28d, 0px 5px 0px 0px #954a13, 0px 7px 5px #999999;
}

.game_action .play input:active, .game_action .star input:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ab5618), color-stop(1, #e5b749));
  box-shadow: inset 0px 1px 0px rgba(239, 210, 141, 0.7), 0px 2px 0px 0px rgba(239, 210, 141, 0.6), 0px 5px 3px #999999;
}

.game_action .play input:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #9f6e35), color-stop(0.5, #b7853a), color-stop(0.51, #c79d55), color-stop(1, #f5cd61));
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left center, right center, color-stop(0, #ecdeac), color-stop(0.75, #ecdeac), color-stop(0.751, #dfca85), color-stop(1, #dfca85));
}

::-webkit-progress-bar {
  background: #dee0d1;
}

::-webkit-progress-value {
  background: #f0c049;
}

progress {
  border: 1px solid #b3b3b3;
}

.loading_msg {
  color: #e3b33c;
}

.popup_box .bg_box {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffdf80), color-stop(1, #b7991a));
}
