*{
	padding:0;
	margin:0;
}

a{
	color:black;
	text-decoration:none;
    user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    -webkit-user-select:none;
}

.content{
	overflow:hidden;
	font-size:13px;
	font-family:"WenQuanYi Micro Hei", "Microsoft Yahei", Helvetica, sans-serif;
	background-color:#f5f5f5;
}

.nav_bar{
	overflow:hidden;
	line-height:32px;
	border-bottom:1px solid #ccc;
	background-color:#f5f5f5;
	width:100%;
	z-index:10;
}

.nav_bar .tabs,
.nav_bar .search_msg{
	float:left;
	text-indent:10px;
}

.nav_bar .search_box{
	float:right;
}

.nav_bar .tabs a{
	padding:4px 12px;
	border-radius:12px;
	border:1px solid transparent;
}

.nav_bar .tabs a:hover,
.nav_bar .tabs a:focus{
	border:1px solid transparent;
}

.search_box{
	border-left:1px solid #ccc;
}

.search_box .text{
	line-height:20px;
	padding:6px 6px 7px;
	border:none;
	margin-right:-3px;
}

.search_box .search{
	width:68px;
	height:33px;
	border:none;
	border-left:1px solid #ccc;
	text-indent:-9999px;
	background:url('../img/search.svg') no-repeat 27px 9px;
	cursor:pointer;
}

.main_content{
	padding:8px;
	z-index:1;
	overflow: hidden;
}

.main_content .game_intro{
	width:250px;
	padding:10px;
	float:left;
	overflow:hidden;
}

.main_content .game_intro .game_pic{
	text-align:center;
	position:relative;
}

.main_content .game_info{
	padding:10px;
	overflow:hidden;
}

.main_content .game_action{
	margin:10px 20px;
	overflow:hidden;
}

.game_action .play,
.game_action .star{
	float:left;
}

.game_action .play input,
.game_action .star input{
	border:none;
}

.game_action .play input{
	color:#fff;
	font-size:16px;
	border:1px solid transparent;
	cursor:pointer;
	font-weight:bold;
	position:relative;
	padding:10px 20px 5px 10px;
	border-left:solid 1px transparent;
	border-top-right-radius: 19px;
	border-bottom-right-radius: 19px;
	margin-left:0px;
	top:-2px;
}

.game_action .star input{
	width:18px;
	height:17px;
	border-left:1px solid transparent;
	padding:8px 10px 7px 15px;
	position: relative;
	text-indent:-9999px;
	border:1px solid transparent;
	border-top-left-radius: 19px;
	border-bottom-left-radius: 19px;
	cursor:pointer;
}


.game_action .play input:active, .game_action .star input:active{
	top:3px;
}

.game_action .play input:active{
	top:1px;
}


.main_content .info{
	font-size:12px;
	padding:12px;
}

.main_content .info table{
	width:100%;
}

.main_content .game_info .title{
	overflow:hidden;
	line-height:35px;
	border-bottom:2px solid #ccc;
	border-radius:18px;
	background-color:#e8e7ed;
}

.game_info .game_name,
.game_info .game_rate,
.game_info .game_star{
	float:left;
}

.game_info .action{
	float:right;
}

.game_info .game_name{
	font-size:18px;
	text-indent:18px;
	line-height:38px;
}

.game_info .game_rate{
	padding:0 5px;
	font-size:24px;
	font-family:Arial;
}

.game_info .game_rate sub{
	font-size:13px;
	vertical-align:baseline;
	margin-left:3px;
}

.game_info .action{
	padding-right:18px;
	line-height:37px;
}

.game_info .action a{
	font-size:15px;
}

.game_box{
	border:1px solid #e3e3e3;
	background-color:#fff;
	margin-bottom: 10px;
}

.game_box .game_pic{
	position:relative;
}

.game_box .game_title{
	padding:0 6px 6px 6px;
	background-color:#fff;
}

.game_box .game_name{
	font-size:14px;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.game_box .summary{
	padding:8px;
	background-color:#e7e7e7;
	overflow:hidden;
	font-size:13px;
}

.game_box .view_more a{
	color:#0e69c6;
	font-size:12px;
}

.game_intro .game_pic:hover .game_action,
.game_box .game_pic:hover .game_action{
	display:block;
}
.game_intro .game_action,
.game_box .game_action{
	display:none;
	margin:0 auto;
	position:absolute;
	bottom:2px;
	padding-bottom:10px;
}

.game_intro .game_action{
	display:block;
	position:static;
	padding-bottom:0px;
}

.game_intro .game_action .btn_box{
	overflow:hidden;
	margin:0 auto;
	width:125px;
}

.summary .brief_intro{
	color:#808080;
	overflow:hidden;
}

.game_info .text_box{
	padding:10px 18px;
	color:#808080;
	overflow:hidden;
	line-height:17px;
}

.game_info .text_box p{
	overflow:hidden;
}

.game_info .text_box figure{
	margin:15px 0;
}

.game_info .text_box img{
	max-width:100%;
}

.rating{
	overflow:hidden;
	margin-top:11px;
}

.game_info .rating{
	line-height:39px;
	display:inline-block;
}

.col1 { width: 232px; }
.col2 { width: 468px; }

.col1 img{ width:230px; height:152px; }
.col2 img{ width:468px; height:353px; }

i.star{
	display:block;
	float:left;
	width:13px;
	height:13px;
	background-image:url('../img/star.png');
}

.star_empty{
	opacity:0.4;
}

*:focus{
	outline:none;
}

.popup_box section{
	width:680px;
	height:480px;
	margin:0 auto;
	text-align:center;
	background:url('../img/popbox-bg.png') no-repeat;
}

.popup_box progress{
	margin-top:270px;
	width:244px;
}

.loading_msg{
	margin-top:16px;
}

::-webkit-scrollbar{width:16px;height:16px;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{width:0;height:0;}
::-webkit-scrollbar-thumb{border:0px;}
::-webkit-scrollbar-thumb:hover{width:16px;}
/*---鼠标点击滚动条显示样式--*/ 