body{font-family: 'Lato', Calibri, Arial, sans-serif,"微软雅黑","文泉驿微米黑","文泉驿正黑"; background:#d8d8d8 url(../img/gamg_bg.png) repeat;}

::-webkit-scrollbar-track-piece{background:#d8d8d8;}

#game-gallery{min-height:535px;}

*{
	padding:0;
	margin:0;
}

a{
	color:black;
	text-decoration:none;
    user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    -webkit-user-select:none;
}

.content{
	overflow:hidden;
	font-size:12px;
}

.nav_bar{
	overflow:hidden;
	line-height:32px;
	border-bottom:1px solid #ccc;
	background-color:#f5f5f5;
	width:100%;
	z-index:10;
}

.nav_bar .tabs{ padding-top:2px;}

.nav_bar .tabs,
.nav_bar .search_msg{
	float:left;
	text-indent:10px;
}

.nav_bar .tabs span{margin-left:10px; border-left:#ccc 1px solid;display:inline; height:24px; line-height:24px; font-size:14px;}

.nav_bar .search_box{
	float:right;
}

.nav_bar .tabs a{
	padding:4px 12px 3px 12px;
	border-radius:12px;
	border:1px solid transparent;
	display:inline;
}

.nav_bar .tabs a:hover,
.nav_bar .tabs a:focus{
	border:1px solid transparent;
}

.search_box{
	border-left:1px solid #ccc;
}

.search_box .text{
	line-height:20px;
	padding:6px 6px 7px;
	border:none;
	margin-right:-3px;
}

.search_box .search{
	width:68px;
	height:34px;
	border:none;
	border-left:1px solid #ccc;
	text-indent:-9999px;
	background-position: 27px 9px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.search_box .search:hover{ background-image:url(../img/s_h.png);}

.main_content{
	padding:6px;
	z-index:1;
	overflow: hidden;
	width:1004px;
	margin:0 auto;
}

.main_content .game_intro{
	width:250px;
	padding:0 0 10px 0;
	margin-right:6px;
	float:left;
	overflow:hidden;
	background:#FFF;
}

.main_content .game_intro .game_pic{
	text-align:center;
	position:relative;
}

.main_content .game_intro .game_pic .game_name{
	display:block;
	font-size: 16px;
    line-height: 38px;
	width:220px;
	text-align:left;
	padding:6px 15px;
}

.main_content .game_info{
	padding:10px 40px 25px 40px;
	overflow:hidden;
	background:#FFF;
}

.main_content .game_action{
	margin:10px 20px;
	overflow:hidden;
}

.game_action .play,
.game_action .star{
	float:left;
}

.game_action .play input,
.game_action .star input{
	border:none;
}

.game_action .play input{
	color:#fff;
	font-size:16px;
	border:1px solid rgba(255,255,255,0.2);
	cursor:pointer;
	position:relative;
	padding:3px 0px 4px 0px;
	border-radius: 19px;
	width:180px;
	text-align:center;
	font-family: 'Lato', Calibri, Arial, sans-serif,"微软雅黑","文泉驿微米黑","文泉驿正黑";
}

.game_action .star input{
	width:18px;
	height:17px;
	border-left:1px solid transparent;
	padding:8px 10px 7px 15px;
	position: relative;
	text-indent:-9999px;
	border:1px solid transparent;
	border-top-left-radius: 19px;
	border-bottom-left-radius: 19px;
	cursor:pointer;
}


.game_action .play input:hover{
	box-shadow: inset 0 -2px 5px 2px rgba(255,255,255,0.15);
}

.game_action .play input:active{top:1px;}

.main_content .info{
	font-size:12px;
	padding:12px;
}

.main_content .info table{
	width:100%;
}

.main_content .info td{
	color:#999;
	height:26px;
}

.main_content .game_info .title{
	overflow:hidden;
	line-height:35px;
	border-bottom:1px solid #ccc;
}

.game_info .game_name,
.game_info .game_rate,
.game_info .game_rating,
.game_info .game_star{
	float:left;
}

.game_info .action{
	float:right;
}

.game_info .game_name{
	display: block;
    font-size: 16px;
    line-height: 45px;
    text-indent: 14px;
    width: 450px;
}

.game_info .game_rate{
	padding:0 5px;
	font-size:24px;
    line-height: 40px;
}

.game_info .game_rate sub{
	font-size:18px;
	vertical-align:baseline;
}

.game_info .action{
	line-height:37px;
}

.game_info .action a{
	display: block;
    font-size: 16px;
    line-height: 45px;
}

{
	border:1px solid #e3e3e3;
	background-color:#fff;
	margin-bottom: 10px;
}

.game_pic{
	position:relative;
}
.game_pic img{ width:250px; margin-bottom:10px;}

.game_title{
	padding:0 6px 6px 6px;
	background-color:#fff;
}

.game_name{
	font-size:14px;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.summary{
	padding:8px;
	background-color:#e7e7e7;
	overflow:hidden;
	font-size:13px;
}

.view_more a{
	color:#0e69c6;
	font-size:12px;
}

.game_intro .game_pic:hover .game_action,
.game_pic:hover .game_action{
	display:block;
}
.game_intro .game_action,
.game_action{
	display:none;
	margin:0 auto;
	position:absolute;
	bottom:2px;
	padding-bottom:10px;
}

.game_intro .game_action{
	display:block;
	position:static;
	padding-bottom:0px;
}

.game_intro .game_action .btn_box{
	overflow:hidden;
	margin:0 auto;
	width:180px;
	height: 30px;
}

.summary .brief_intro{
	color:#808080;
	overflow:hidden;
}

.game_info .text_box{
	padding:15px 0 0 0;
	color:#808080;
	overflow:hidden;
	line-height:20px;
}

.game_info .text_box p{
	overflow:hidden;
}

.game_info .text_box img{
	margin:15px auto;
	display:block;
	width:665px
}

.game_info .text_box figure{
	margin:15px 0;
}

.game_info .text_box img{
	max-width:100%;
}

.game_info .rating{
	margin-top:8px;
	display:block;
	float:left;
}

.col1 { width: 232px; }
.col2 { width: 468px; }

.col1 img{ width:230px; height:152px; }
.col2 img{ width:468px; height:353px; }

i.star{
	display:block;
	float:left;
	width:20px;
	height:20px;
	
}
.star_full{
	background-image:url('../img/star.png');
}
.star_empty{
	background-image:url('../img/instar.png');
}

.star_half{
	background-image:url('../img/star_half.png');
}

*:focus{
	outline:none;
}

.popup_box section{
	width:680px;
	height:480px;
	margin:0 auto;
	text-align:center;
	background:url('../img/popbox-bg.png') no-repeat;
}

.popup_box progress{
	margin-top:270px;
	width:244px;
}

.loading_msg{
	margin-top:16px;
}

::-webkit-scrollbar{width:16px;height:16px;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{width:0;height:0;}
::-webkit-scrollbar-thumb{border:0px;}
::-webkit-scrollbar-thumb:hover{width:16px;}
/*---鼠标点击滚动条显示样式--*/ 


.game_intro .game_pic .icon {
	position: absolute;
	top: 6px;
	right: 10px;
	min-width: 30px;
	height: 20px;
	background-color:rgba(255,255,255,0.4);
	border-radius: 10px;
	z-index: 60;
	cursor:pointer;
}

.game_intro .game_pic .icon2 {
	height: 16px;
	background-color:rgba(255,255,255,0.8);
	border-radius: 8px;
	z-index: 61;
	cursor:pointer;
	margin:2px 3px;
	padding:0 8px 0 24px;
	color:#F4504E;
	font-size:11px;
	text-indent:0px;
	line-height:16px;
	background-repeat:no-repeat;
	background-position:7px 2px;
	display:block;
 
}

.game_intro .game_pic .like{
	background-image:url('../img/heart.png');
	
}

.game_intro .game_pic .ilike{
	background-image:url('../img/heart-purple.png');
}

#rightbox { width:506px; margin-top:20px;}
#rightbox .title_pic{ width:506px; height:180px;margin:0;}
#rightbox  img.title_pic {}

.start {width:200px; margin:0 auto; cursor: pointer;}
.start a{color: #1068C2; font-size:16px; display:block; font-weight:600; width:200px;text-align:center;}
.start:hover a{-webkit-animation-duration:1s;-webkit-animation-name: bounceIn;}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	
	70% {
		-webkit-transform: scale(.9);
	}
	
	100% {
		-webkit-transform: scale(1);
	}
}
