.container{
    width:1010px;
    height:690px;
    background:#75BDFA;
    text-align:center;
    margin:0 auto;
    border:1px solid #FFE;
}

.banner{
    width:1010px;
    height:60px;
}

.logo{
    width:95px;
    height:60px;
    margin-top:0;
    float:left;
}

.navigator{
    list-style:none;
    height:30px;
    line-height:30px;
    float:left;
}

.navigator li{
    width:95px;
    height:30px;
    background:#B5DCFC;
    line-height:30px;
    margin:2px;
    float:left;
}

.link{
    width:1010px;
    height:38px;
    background:#F4FAFD;
}

.hot_items{
    width:625px;
    height:36px;
    line-height:36px;
    list-style:none;
    margin:1px;
    float:left;
    overflow:hidden;
}

.hot_items li{
    float:left;
    margin:0 2px;
}

.search{
    width:340px;
    height:38px;
    float:right;
}

.search_key{
    width:270px;
    height:36px;
    line-height:36px;
    float:left;
    background:#FFF;
}

.search_btn{
    width:65px;
    height:36px;
    line-height:36px;
    border:1px solid #CDDCE5;
}

.content{
    width:1010px;
    height:560px;
    background:#FFF;
}

.top{
    width:950px;
    height:300px;
    margin:10px 40px 10px 20px;
}

.advertise{
    width:600px;
    height:290px;
    float:left;
    border:1px solid red;
}

.sort{
    width:300px;
    height:290px;
    float:right;
    border:1px solid blue;
}

.sort_method{
    width:300px;
    height:40px;
    line-height:40px;
}

.sort_result{
    width:300px;
    height:230px;
    text-align:left;
}

.top_item{
    width:300px;
    height:38px;
    line-height:30px;
}

.top_item img{
    width:15px;
    height:15px;
    vertical-align:middle;
    margin-right:5px;
}

.top_img{
    width:115px;
    height:75px;
}

.top_desc{
    width:100px;
    height:75px;
    float:right;
    margin:0 10px;
}

.top_item_selected{
    width:300px;
    height:90px;
}

.games{
    clear:both;
    width:950px;
    height:240px;
    /*
    margin:10px 40px 10px 20px;
    */
}

.game_items{
    list-style:none;
    overflow:hidden;
    padding:5px 5px 0 5px;
}

.game_item{
    width:135px;
    height:118px;
    margin:0 8px;
    float:left;
}

.game_item img{
    width:135px;
    height:90px;
}
